body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.image-profile {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-description {
    color: #666;
}

.skills {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 5px;
    color: #444;
}
